.App-content {
	display: flex;
	flex: 0.2 0.8 auto;
	align-items: center;
	justify-items: center;
}

.App-Input-content,
.App-Result-content {
	resize: both;
	overflow: hidden;
}

.App-Input-content {
	background-color: lightgray;
}

.App-Result-content {
	background-color: lightpink;
}

#App-Result-Image {
	height: 100%;
	width: 100%;
}
